<footer>
	<div class="container">
		<div class="ft-about valign scenter">
			<div class="ibeacon-logo"></div>
			<div class="copyright">Copyright Veacon © 2014</div>
			<div class="powered">Powered by <a class="valink" href="http://valensas.com" target="_blank">Valensas</a></div>
		</div>
		<div class="social-menu valign scenter">
			<ul>
				<li><a href="http://twitter.com/getveacon" target="_blank"><img src="/img/twitter-icon.png"></a></li>
				<li><a href="http://facebook.com/getveacon" target="_blank"><img src="/img/facebook-icon.png"></a></li>
				<li><a href="http://linkedin.com/company/veacon" target="_blank"><img src="/img/linkedin-icon.png"></a></li>
				<li><a href="mailto:info@veacon.com"><span>info@veacon.com</span></a></li>
			</ul>
		</div>
	</div>
</footer>
