<header>
	<div class="container">
		<button type="button" class="mobile-menu-btn"></button>
		<a id="logo" class="valign" href="/"></a>
		<ul id="menu" class="valign">
			<li {% if page.type == "home" %} class="active-item" {% endif %}><a href="/">VEACON</a></li>
			<li {% if page.type == "sdk" %} class="active-item" {% endif %}><a href="/sdk/">GET SDK</a></li>
			<li {% if page.type == "portal" %} class="active-item" {% endif %}><a href="/portal/">PORTAL</a></li>
			<li {% if page.type == "blog" %} class="active-item" {% endif %}><a href="/blog/">BLOG</a></li>
			<li {% if page.type == "contact" %} class="active-item" {% endif %}><a href="/contact/">CONTACT</a></li>
		</ul>
		<div id="portal-menu" class="valign">
			<div class="sign-up"><a href="https://portal.veacon.com" target="_blank">SIGN-UP</a></div>
			<div class="log-in"><a href="https://portal.veacon.com" target="_blank">LOG-IN</a></div>
		</div>
	</div>
</header>
<ul class="mobile-menu">
	<li {% if page.type == "home" %} class="active-item" {% endif %}><a href="/">VEACON</a></li>
	<li {% if page.type == "sdk" %} class="active-item" {% endif %}><a href="/sdk/">GET SDK</a></li>
	<li {% if page.type == "portal" %} class="active-item" {% endif %}><a href="/portal/">PORTAL</a></li>
	<li {% if page.type == "blog" %} class="active-item" {% endif %}><a href="/blog/">BLOG</a></li>
	<li {% if page.type == "contact" %} class="active-item" {% endif %}><a href="/contact/">CONTACT</a></li>
	<li><a href="https://portal.veacon.com" class="portal-link">SIGN-UP</a></li>
	<li><a href="https://portal.veacon.com" class="portal-link">LOG-IN</a></li>
</ul>