	<section class="notify-area">
		<div class="page-wrapper">
			<h2>GET NOTIFIED</h2>
			<div class="left-side fluid">
				<p>Register and we will let you know when Veacon sensors are ready to ship. You can also follow us on Twitter and Facebook.</p>
			</div>
			<div class="right-side rcenter fluid">
				<form action="<?=$_SERVER['PHP_SELF']; ?>" method="get" id="subscribe">
                	<input class="subscription-textbox" type="email" placeholder="Email-address" name="email" id="email">
                	<input class="subscription-submit" type="submit" value="SEND" name"Submit" id="submit-mail">
            	</form>
			</div>
		</div>
	</section>