	<section class="notify-area">
		<div class="page-wrapper">
			<h2>GET NOTIFIED</h2>
			<div class="left-side fluid">
				<p>Register and we will let you know when Veacon sensors are ready to ship. You can also follow us on Twitter and Facebook.</p>
			</div>
			<div class="right-side rcenter fluid">
				<form action="//veacon.us8.list-manage.com/subscribe/post?u=97208155d787cb5c417ba7899&amp;id=47d0a8e0b2" method="post" id="subscribe">
                	<input class="subscription-textbox" type="email" placeholder="Email-address" name="EMAIL" id="mce-EMAIL">

                	<input class="subscription-submit" type="submit" value="SEND" name="subscribe" id="mc-embedded-subscribe">

                	<div style="position: absolute; left: -5000px;"><input type="text" name="b_97208155d787cb5c417ba7899_47d0a8e0b2" tabindex="-1" value=""></div>
            	</form>
			</div>
		</div>
	</section>